<h1>OHV Asset Manager</h1>
<nav>
  <a href="/stores">All Stores</a>
  <a href="/vehicles">All Vehicles</a>
</nav>

<h2>Store list</h2>
<hr />
<% @stores.order(created_at: :desc).each do |store| %>
  <h3><%= store.store_name %></h3>
  <p>Created on: <%= store.created_at %></p>
<% end %>

